.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    box-shadow: none !important;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    top: 39%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:100%;
    z-index: 1;
    width: 50px;
    height: 50px;
    background: #fff url(../images/gold-silk-arrow.svg) no-repeat center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
  	border: 2px solid #B19221;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: rgba(255, 255, 255, 0.8) url(../images/blue-silk-arrow.svg) no-repeat center;
	border-color: #094D9C !important;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
}

.slick-prev {
    left: 20px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}

.slick-prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
	right: 45px;
}
.slick-prev {
	right: 45px;
  left: auto;
  top: 54%;
}

.slick-next:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

.slick-dots {
    position: absolute;
    bottom: -80px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 9px 0px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li::before {
    display: none;
}

.slick-dots li button {
    border: 0;
    height: 14px;
    width: 14px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 50px;
    background: #1B1B1C;
    transition: 1s;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}


.slick-dots li.slick-active button:before {
    color: #000;
    opacity: 1;
}
.slick-dots li.slick-active button, .slick-dots li button:hover {
    background: rgba(244, 67, 53, 1);
}
.slick-dots li.slick-active button {
    width: 60px;
}
